#{extends 'help.html' /}
#{set title:'About & HowTo' /}

 
   <div class="wrap clearfix">
        <section id="content">
          
<h1>Developer API</h1>



<dl>

  
  <dt>The pixly app?</dt>
  <dd>
    <p>
      Photo Story.
    </p>
  </dd>
  
  <dt>Technology used?</dt>
  <dd>
    <p>
      Sorry we did tried as much as possible not to re-invent wheel, picplx app is built on existing technologies as:<br> MongoDB, Redis, Beanstalkd, Supervisor, Node.js, HTML5, CSS3, Playframework, Nginx and couple of hacks around.
    </p>
  </dd>
  
  <dt>Who is behind the picplx app?</dt>
  <dd>
    <p>
     picplx app was developed by <a href="https://twitter.com/#!/olawhite">Ola White</a> & <a href="https://twitter.com/#!/ebottabi">Ebot Tabi</a> of <a>Geofeed Labs Team</a>.
    </p>
  </dd>
  
  <dt>picplx's future?</dt>
  <dd>
    <p>
     Yes we will keep building more features into the app, making it more resourceful, fun and useful to the community. We plan an Android, BB apps when we get to version 2.0.
    </p>
  </dd>
  

</dl>
        </section>
        <aside>
          <!-- Sidebar -->
        

<article>
  <h3>How do I use picplx?</h3>
  <p>Getting started is simple. Create an account, upload your pictures, add filters, add a location, start a story and quickly share them on Twitter, Foursquare and Facebook. From uploading your photos, meeting new people or making new friends, picplx makes it fun to share your photos, stories and daily events.</p>
</article>


        </aside>
        <div id="sidebar_bg" class="wrap"></div>
      </div>