#{extends 'main.html' /}
#{set title:'Welcome' /}

 
   <div class="wrap clearfix" >
        <section id="content">
          
<div id="main-section" class="clearfix">
  <div id="filters-showcase">
    <ul style="position: relative; height: 371px; " class="innerfade">
        <li style="z-index: 6; position: absolute; display: list-item; opacity: 0.9235609606910684; "><img alt="Killowatt" height="375" src="/public/uploads/filters/killowatt.jpg" width="375"></li>
       </ul>
  </div>

  <div id="main-sidebar">
    <div id="connect_area" >
      <div id="text-content">
        <h1>Share your photos in style</h1>
        <p>Picplx is the perfect tool for instantly sharing your photos with friends.</p>
        <p>It's fun, fast and easy to share your daily life through snapshots.<br>Sign up for free today to get started!</p>
      </div>
      <div id="connect">
        <a href="#" id="connect_with_twitter">Connect with Twitter</a> <span>or</span>
        <a href="#" id="connect_with_facebook">Connect with Facebook</a>
        <div id="signup">No Twitter or Facebook account? <a href="/__session/__register" class="uppercase">sign up here</a> It's still easy.</div>
      </div>
    </div>
  </div>
</div>

<div id="tour-section" class="clearfix">
  <div class="upload"></div>
  <div class="filter"></div>
  <div class="share"></div>

  <div class="arrow"></div>
  <div class="arrow"></div>
</div>



        </section>
      </div>